# generated with ansible, so manual edits are irrelevant

auto lo
iface lo inet loopback

{% set eth0_info = interfaces[ansible_hostname]["eth0"] %}
auto eth0
iface eth0 inet static
    address {{ eth0_info.ip }}
    netmask {{ eth0_info.netmask }}
    post-up ip route add {{ eth0_info.extra_route }} 


auto eth1
iface eth1 inet manual
    bond-master uplink
    post-up ip link set $IFACE promisc on     # Only required on VX

auto eth2
iface eth2 inet manual
    bond-master uplink
    post-up ip link set $IFACE promisc on     # Only required on VX


{% set uplink_info = interfaces[ansible_hostname]["uplink"] %}
auto uplink
iface uplink inet static
    bond-slaves none
    bond-mode 802.3ad
    bond-miimon 100
    bond-lacp-rate 1
    bond-min-links 1
    bond-xmit-hash-policy layer3+4
    address {{ uplink_info.ip }}
    netmask {{ uplink_info.netmask }}
    gateway {{ uplink_info.gateway }}



