{% set bgp_info = bgp[ansible_hostname] -%}
frr version 3.2+cl3u4
frr defaults datacenter
hostname leaf01
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% for port in bgp_info.ports %}
interface {{ port }}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
router bgp {{ bgp_info.asn }} vrf server-net
 bgp router-id {{ bgp_info.router_id }} 
 coalesce-time 1000
 bgp bestpath as-path multipath-relax
{% for port in bgp_info.ports %}
 neighbor {{ port }} interface remote-as external
{% endfor %}
 !
 address-family ipv4 unicast
  redistribute connected
 exit-address-family
!
line vty
!
