auto swp48
iface swp48 inet dhcp
    vrf server-net
    post-up iptables -t nat -A POSTROUTING -o swp48 -j SNAT --to-source {{ ansible_swp48.ipv4.address }}
    post-down iptables -t nat -D POSTROUTING -o swp48 -j SNAT --to-source {{ ansible_swp48.ipv4.address }}

auto eth0
iface eth0
    address 192.168.0.253/24
    gateway 192.168.0.254

#server-net vrf
auto server-net
iface server-net
    address 10.0.0.253/32
    vrf-table auto

auto swp1
iface swp1
    vrf server-net
auto swp2
iface swp2
    vrf server-net

